<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magic Mirror</title>
    <link rel="stylesheet" href="/static/css/base.css?[[r]]" type="text/css">
</head>
<body ng-app="mirror">
<div ng-controller="appCtrl">

    <span class="time" ng-bind="date">    </span>
    <br/>
    <span class="time" ng-bind="time">    </span>
    <audio controls autoplay></audio>
    <fieldset>
        <legend>RECORD AUDIO</legend>
        <input style="background: black"  ng-click="startSpeech()" type="button" value="start recording"/>
        <input style="background: black"   ng-click="endSpeech()"  type="button" value="stop recording and play"/>
    </fieldset>
</div>

</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/moment.js"></script>
<script src="/static/js/mirror.js?[[r]]"></script>
<script src="/static/js/recorderjs/recorder.js?[[r]]"></script>
<script src="/static/js/voiceMonitor.js?[[r]]"></script>

<script>



</script>
</html>